<div class="container">
    <h1>Sentiment analysis</h1>

    <h3>Sentiment analysis test</h3>
    <div *ngIf="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control form-group" [(ngModel)]="testText" placeholder="Type to test"></textarea>
            <button class="btn btn-primary form-group" (click)="submitTestText()">Test</button>
        </div>
    </div>


    <div class="row" *ngIf="testTextResult !== null">
        Last submission was <strong>{{testTextResult ? 'Positive' : 'Negative'}}</strong>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Visual studio Code</h3>
            <textarea class="form-control form-group" [(ngModel)]="vsCodeText" placeholder="Type something nice about VS Code"></textarea>
            <button class="btn btn-primary form-group" [disabled]="!vsCodeText" (click)="submitVsCodeText()">Test</button>
        </div>
        <div class="col-md-6">
            <h3>Visual studio</h3>
            <textarea class="form-control form-group" [(ngModel)]="vsText" placeholder="Describe Visual Studio"></textarea>
            <button class="btn btn-primary form-group" [disabled]="!vsText" (click)="submitVsText()">Test</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table">
            <tr>
                <th></th>
                <th>Visual studio Code Feedback</th>
                <th>Visual studio Feedback</th>
            </tr>
            <tr>
                <td><strong>Positive</strong></td>
                <td>{{data?.visualStudioCodeScore?.positiveVotes}}</td>
                <td>{{data?.visualStudioScore?.positiveVotes}}</td>
            </tr>
            <tr>
                <td><strong>Negative</strong></td>
                <td>{{data?.visualStudioCodeScore?.negativeVotes}}</td>
                <td>{{data?.visualStudioScore?.negativeVotes}}</td>
            </tr>
        </table>
    </div>
</div>